<div class='row' ng-controller='schoolController'>
    <p>
        <button class='btn btn-success' ng-click='save()'>保存</button>
    </p>
    <div class='col-xs-12'>
        <form novalidate class='form-horizontal' name='schoolForm' role='form'>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='name'> 学校名称 </label>
                <div class='col-sm-9'>
                    <input type='text' readonly required ng-model = 'school.name' name='name' id='name' placeholder='学校名称' class='col-xs-10 col-sm-5'/>
                    <div class='has-error' ng-show='schoolForm.name.$dirty && schoolForm.name.$invalid'>
                        <small class='help-block col-xs-12 col-sm-reset inline' ng-show='schoolForm.name.$error.required'>
                            学校名称必填哦.
                        </small>
                    </div>
                </div>
            </div>
            <div class='form-group formCoverDiv'>
                <label class='col-sm-3 control-label no-padding-right' for='badge'> 校徽图 </label>
                <div class='col-sm-9'>
                    <div class = 'row col-xs-10 col-sm-5'>
                        <input type='file' name='badge' ng-model = 'school.badge' id='badge' ng-file-select='onFileSelect($files)' />
                    </div>
                </div>
            </div>

            <div class='form-group'>
                <label class='col-sm-3 control-label no-padding-right' for='coverThumbnail'> 主视觉图缩略图 </label>
                <div class='col-sm-9'>
                    <img style="height: 200px;width: 200px" id='coverThumbnail' src="[[imagePath]]"/>
                </div>
            </div>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='province'> 省份 </label>
                <div class='col-sm-9'>
                    <select class='col-xs-10 col-sm-5' required id='province' ng-model='school.province' >
                        <option ng-selected="[[school.province == province.id]]"
                                ng-repeat="province in provinces"
                                value="[[province.id]]">
                            [[province.name]]
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='category'> 学校类别 </label>
                <div class='col-sm-9'>
                    <select class='col-xs-10 col-sm-5' required id='category' ng-model='school.category' >
                        <option ng-selected="[[school.category == category.id]]"
                                ng-repeat="category in categories"
                                value="[[category.id]]">
                            [[category.name]]
                        </option>
                    </select>
                </div>
            </div>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='summary'> 简介 </label>
                <div class='col-sm-9'>
                    <textarea class='col-xs-10 col-sm-5' required id='summary' ng-model = 'school.summary' name='summary' placeholder='简介' class='form-control limited' maxlength='50'></textarea>
                    <div class='has-error' ng-show ='form.schoolForm.summary.$dirty && form.schoolForm.summary.$invalid'>
                        <small class='help-block col-xs-12 col-sm-reset inline' ng-show='form.schoolForm.summary.$error.required'>
                            简介必填哦.
                        </small>
                    </div>
                </div>
            </div>
            <div class='form-group has-error schoolCharacter'>
                <label class='col-sm-3 control-label no-padding-right' for='summary'> 学校特征</label>
                <div class='col-sm-9'>
                    <label style="margin-right: 1%;" ng-repeat="character in characters">
                        <input ng-checked="school.characters.indexOf(character.id) > -1" name='form-field-checkbox' type='checkbox' class='ace character' value='[[character.id]]'>
                        <span class='lbl'> [[character.name]]</span>
                    </label>
                </div>
            </div>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='name'> 推荐值 </label>
                <div class='col-sm-9'>
                    <input type='text' required ng-model = 'school.priority' name='priority' id='priority' placeholder='推荐值' class='col-xs-10 col-sm-5'/>
                </div>
            </div>
            <div class='form-group has-error'>
                <label class='col-sm-3 control-label no-padding-right' for='description'> 学校详情 </label>
                <div style="margin-left: 1%" class='col-sm-6'>
                    <div id='description' class='row'></div>
                </div>
            </div>
        </form>

        <div class="col-xs-12">
            <table id="schoolDetailList"></table>
            <div id="schoolDetailPager"></div>
        </div>

        <div class="col-xs-12">
            <table id="majorDetailList"></table>
            <div id="majorDetailPager"></div>
        </div>

    </div>
</div>

